.form-select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: #768192;
    background-color: #fff;
    border-color: #d8dbe0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.c-sidebar .c-sidebar-brand {
    color: #fff;
    background: #183e39;
  }
  .c-sidebar .c-sidebar-header {
    background: #183e39;
  }
  .c-sidebar .c-sidebar-form .c-form-control {
    color: #fff;
    background: #183e39;
    border: 0;
  }
  
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: #fff;
    background: #183e39;
  }

.c-sidebar .c-sidebar-nav-dropdown.c-show {
    background: #183e39;
  }

.c-app {
    --primary: #321fdb;
    --secondary: #ced2d8;
    --success: #2eb85c;
    --info: #39f;
    --warning: #f9b115;
    --danger: #e55353;
    --light: #ebedef;
    --dark: #636f83;
    color: #183e39;
    background-color: #ebedef;
    --color: #183e39;
  }